@import url('https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;600;700;800&family=Montserrat:wght@400;500;600;700;800&display=swap');


/* font-family: 'Montserrat', sans-serif;
font-family: 'Montserrat Alternates', sans-serif; */

* , p , h1 , h2 , h3 , h4 , h5 , h6{
    margin: 0px;
    padding: 0px;
}

.navbar-nav{
    margin-left: auto;
   
}
.navbar-collapse, .navbar-nav{
    gap: 42px;
}

.navbar-padd{
    padding: 7px 100px !important;
}

.btn-resume{
    background: radial-gradient(88% 382.8% at 10.78% 21%, #19BFB5 0%, #23B4D3 100%);
border-radius: 24px 4px 4px 4px !important;
padding: 15px 24px !important;
}

.btn-contact{
    background-color: transparent;
border-radius: 4px 4px 24px 4px !important;
padding: 15px 24px !important;
border: 2px solid rgba(255, 255, 255, 0.25) !important;
}


.nav-link, .btn-resume, .btn-contact{
    font-family: 'Montserrat Alternates', sans-serif;
    font-weight: 500;
font-size: 16px;
line-height: 20px;
    color: #FFFFFF;
}

button{
    border-width: 0px !important ;
}

.hero-bg{
background:url("Assets/hero-bg.png") ;
height: 100vh;
background-attachment: fixed;
background-position: top center;
    background-repeat: no-repeat;
}

nav{
    background: rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
position: fixed !important;
    width: 100%;
}

.nav-item .active, .nav-item:hover{
        background: radial-gradient(88% 382.8% at 10.78% 21%, #19BFB5 0%, #23B4D3 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

.nav-link{
    color: #FFFFFF;
}

.header{
    display: flex;
    align-items: center;
    height: 80vh;
    flex-direction: column;
    justify-content: center;
}

.header-button{
    gap: 10px;
}

.main_heading{
    margin-top: 80px;
    font-weight: 700;
font-size: 60px;
line-height: 73px;
color: #FFFFFF;
font-family: 'Montserrat', sans-serif;
}

.main_para{
    font-weight: 400;
font-size: 18px;
line-height: 26px;
max-width: 868px;
text-align: center;
font-family: 'Montserrat';
margin-top: 10px;
margin-bottom: 50px;
color: #FFFFFF;
}

.row_one{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 25px;
}

.second_box{
    padding: 125px 100px;
    gap: 50px;
}
.item_one{
    max-width: 945px;
}

.second_heading{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 600;
font-size: 50px;
line-height: 61px;
}

.second_para{
    font-family: 'Montserrat';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
}

.row_two{
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    row-gap: 25px;
    justify-content: space-evenly;
}

.card-one{
    border: 2px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 64px 4px;
    padding: 25px;
    gap: 25px;
}

.card-img img{
    border-radius: 2px;
}

.num-ber{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    background: radial-gradient(88% 382.8% at 10.78% 21%, #19BFB5 0%, #23B4D3 100%);
border-radius: 4px;
}

.card-bar{
    display: flex;
    align-items: center;
    gap: 25px;
}

.num{
    font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 16px;
line-height: 40px;
color: #FFFFFF;
}

.card-text{
    font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 40px;
color: #000000;
}

.third-para{
    font-family: 'Montserrat Alternates';
font-style: normal;
font-weight: 400;
font-size: 24px;
line-height: 44px;
text-align: center;
max-width: 878px;
color: #000000;
}

.social-box{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.social-box p{
    margin: 0!important;
}