@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800&family=Mulish:wght@300;400;500;600;700;800&display=swap');

/* font-family: 'Montserrat', sans-serif;
font-family: 'Mulish', sans-serif */

* {
    margin: 0px ;
    padding: 0px;
}

:root{
    --primary-color:#151522;
    --secondary-color:#ffffff;
    --tertory-color:rgba(255, 255, 255, 0.75);
    --main-color:radial-gradient(94.94% 223.59% at 94.77% 5.32%, rgba(166, 72, 168, 0.25) 0%, rgba(92, 78, 247, 0.25) 100%);
    --primary-font:'Montserrat', sans-serif;
    --secondary-font:'Mulish', sans-serif;
}

body{
    background-color: var(--primary-color) !important;
}

.btn-resume, .btn-contact, .nav-link, .main_para, .second-para, .third-para, .third-para1, .card-title1, .skill-item, .foot-para{
    font-family: var(--secondary-font); 
}

.main_heading,.heading-secondary{
    font-family: var(--primary-font); 
}

.nav-item .active, .nav-item:hover, .nav-link, .main_heading, .heading-secondary, .card-title1, .skill-item{
    color: var(--secondary-color); 
}

.navbar-padd, .header, .explore-button, .sec-head, .third-head, .boxes, .skillset, .buxes, .juss-center, .foot-box{
    display: flex;
}


.navbar-nav{
    margin-left: auto;
   
}
.navbar-collapse, .navbar-nav{
    gap: 42px;
}

.navbar-padd{
    width: 100%;
    flex-direction: row;
}

.navbar {
    padding-block: 6px  !important;
}

.hero-bg{
    margin-top: 20px;
}

.btn-resume{
    border-radius: 8px !important;
padding: 15px 24px;
color: var(--tertory-color);
font-weight: 600;
font-size: 16px;
line-height: 20px;
}

.resume{
    background: var(--main-color), url("Assets/Button-Resume.svg");
}
.hire{
    background: var(--main-color), url("Assets/Button-Hireme.svg");
}

.btn-contact{
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    border-radius: 8px;
    background: radial-gradient(145.64% 97.89% at 94.77% 5.32%, #A648A8 0%, #5C4EF7 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    --text-fill-color: transparent;
padding: 13px 22px !important;
border: 2px solid rgba(255, 255, 255, 0.25) !important;
}


.nav-link{
    font-weight: 500;
font-size: 16px;
line-height: 20px;
  
}

button{
    border-width: 0px !important ;
}

nav{
    background: rgba(0, 0, 0, 0.1);
backdrop-filter: blur(10px);
    width: 100%;
}


.header-button{
    gap: 10px;
}

.header{
    flex-direction: column;
    margin-top: 100px;
row-gap: 25px;
}

section{
    padding-inline: 200px ;
}

.main_heading{
font-weight: 700;
font-size: 75px;
line-height: 91px;
}

.main_para, .second-para, .third-para, .third-para1{
font-weight: 300;
font-size: 21px;
line-height: 32px;
letter-spacing: 0.05em;
color: var(--tertory-color);
}

.second-para{
    max-width: 875px;
}

.third-para{
    margin-bottom: 60px;
    text-align: center;
}

.third-para1{
    margin-bottom: 25px;
    text-align: center;
}


.explore-button{
    justify-content: flex-end;
}

.heading-secondary{
font-weight: 600;
font-size: 50px;
line-height: 60px;

}

.card-title1{
font-weight: 600;
font-size: 18px;
line-height: 20px;
}

.card-image{
    height: 150px;
    width: 200px !important;
}

.card-image1{
    height: 250px;
    width: 300px !important;
}

.sec-head, .third-head{
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 10px;
}
.sec-head{
    justify-content: space-between;
}
.third-head{
    justify-content: center;
}

.sec-two,.sec-three{
    margin-top: 175px;
}

.card-item-1{
    border: 2px solid rgba(226, 226, 226, 0.1);
border-radius: 12px;
padding: 23px;
box-sizing: border-box;
}

.boxes{
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
}

.title-num{
    display: inline-flex;
    height: 40px !important;
    width: 40px !important;
    background: radial-gradient(191.45% 97.89% at 94.77% 5.32%, #A648A8 0%, #5C4EF7 100%) ;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-emphasis-color: transparent;
    margin-right: 25px;
    flex-direction: row;
    align-items: center;
    border-radius: 4px;
    justify-content: center;
    border: 2px solid rgba(255,255,255,.15);
}

.card-content{
    margin-top: 25px;
}

.skill-item{
font-weight: 400;
font-size: 18px;
line-height: 25px;
border: 2px solid rgba(255, 255, 255, 0.1);
border-radius: 28px;
padding: 12px 16px;
}

.skillset{
    gap: 20px;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}



.right-icon{
    margin-left: 20px;
}

.buxes{  
    flex-wrap: nowrap;
    align-content: center;
    justify-content: space-between;
    flex-direction: row;
    margin-top: 60px;
    gap: 34px;
    overflow: auto;
}

.juss-center{
    justify-content: center;
}

.foot-para{   
font-weight: 300;
font-size: 16px;
line-height: 26px;
margin-bottom: 0px;
text-align: right;
letter-spacing: 0.05em;
color: var(--tertory-color);
}

.footer-img{
    background-image: url("Assets/Footer-Bg.svg");
    background-position: center;
    background-repeat: no-repeat;
    padding-inline:  200px;
    margin-top: 175px;
}

.foot-box{ 
    flex-direction: row;
    flex-wrap: wrap;
    padding: 6px 0px;
    justify-content: space-between;
    align-items: center;

}